{% extends 'components/base.html' %}
{% load static %}


{% block mainContent %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-header">
                    <span><i class="bi bi-table me-2"></i></span> Data Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                                id="example"
                                class="table table-striped data-table"
                                style="width: 100%"
                        >
                            <thead>
                            <tr>
                                <th>REF</th>
                                <th>categorie</th>
                                <th>titre</th>
                                <th>Auteur</th>
                                <th>Date publication</th>
                                <th>Edition</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i,j in livres_et_stock %}

                                <tr>
                                    <td>{{ i.ref }}</td>
                                    <td>{{ i.categorie }}</td>
                                    <td>{{ i.titre }}</td>
                                    <td>{{ i.auteur }}</td>
                                    <td>{{ i.DatePublication }}</td>
                                    <td>{{ i.edition }}</td>
                                    {% if not i.hors_pret %}
                                        {% if j.quantite > 1 %}
                                            <td>
                                                <span class="badge" style="background-color: green; color: white;">Disponible</span>
                                            </td>
                                        {% elif j.quantite == 1 %}
                                            <td>
                                                <span class="badge" style="background-color: orange; color: white;">Lecture seule</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="badge" style="background-color: red; color: white;">Indisponible</span>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        <td>
                                            <span class="badge" style="background-color: gray; color: white;">Hors prêt</span>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <button class="btn btn-primary btn-sm" style="font-size: 12px">Commander
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}