{% extends 'components/base.html' %}
{% load static %}
{% block mainContent %}

    <div class="d-flex justify-content-center align-items-center w-50">
        <table class="table ms-5">
            <tr class="d-flex justify-content-center">
                <td>
                    <h4><a class="btn btn-warning" href="{% url 'demandepret' %}">Prêter un livre</a></h4>
                </td>
                <td>
                    <h4><a class="btn btn-secondary" href="{% url 'retourlivre' %}">Retourner un livre prêté</a></h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form enctype="multipart/form-data" id='livre-pret' method="post" action="">
                        {% csrf_token %}
                        <label for="livres-dispo">Liste de vos demandes en attente {{ user.username }}:</label>
                        <select name="titre" id="livres-dispo" class="form-select mt-3">
                            {% for livre in livres %}
                                <option value="{{ livre.livre_att.titre }}"
                                        name="titre">{{ livre.livre_att.titre }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-grid">
                            <input type="submit" value="Prêter" class="btn btn-primary mt-3"/>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}