{% extends 'components/base.html' %}
{% load static %}
{% block mainContent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/prets.css' %}"/>

<div style='display:flex; flex-direction:row;margin-left:20px;'>
    <h4><a href="{% url 'demandepret' %}">Preter un livre<a/></h4>
    <h4> / </h4>
    <h4><a href="{% url 'retourlivre' %}">Retourner un livre prété<a/></h4>
</div>
<form enctype="multipart/form-data" id='livre-pret' method="post" action="" style="display:flex; flex-direction:column; width:50%; justify-content: center;margin-left:20px;">  
    <label for="livres-dispo">Liste de vos demandes en attente {{user.username}}:</label> 
        <select name="titre" id="livres-dispo">
            {% for livre in livres %} 
            <option value="{{livre.livre_att.titre}}" name="titre" >{{livre.livre_att.titre}}</option> 
            {% endfor %}
        </select>
    
</form>
{% endblock %}