{% extends 'components/base.html' %}
{% load static %}
{% block mainContent %}
    <div class="d-flex justify-content-center align-items-center w-50">
        <table class="table">
            <tr class="d-flex justify-content-center">
                <td>
                    <h4><a class="btn btn-info" href="{% url 'attentelivre' %}"> Liste d'attente</a></h4>
                </td>
                <td>
                    <h4><a class="btn btn-secondary" href="{% url 'retourlivre' %}">Retourner un livre prété </a></h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form enctype="multipart/form-data" id='livre-pret' method="post" action="{{ demandepret }}">
                        {% csrf_token %}
                        <label for="livres-dispo">{{ user.username }}, Choisi le livre que vous voulez:</label>
                        <select name="titre" id="livres-dispo" class="form-select mt-3">
                            {% for livre in livres %}
                                <option value="{{ livre.titre }}" name="titre">{{ livre.titre }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-grid">
                            <input type="submit" value="Préter" class="btn btn-primary mt-3"/>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}
